.Rproj.user
.Rhistory
.RData
/README.html
/README.md.bak
/revdep
/r-packages
/README_cache
/README_files
docs/
inst/doc
doc
Meta
/vignettes/*_cache
/man/chunks/pluralization_cache
/src/*.o
/src/cli.so
/src/cli.dll
